.custom-hero-banner{
  text-align: center;
  color: rgb(29, 53, 87);
  font-size: 27px;
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-top: 5em;
}

.inner-wrapper{
  background-color: white;
}

.views-menu-wrapper{
  background-color: #F8F8F8;
}